<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @kuaibovideo.name %>
</p>

<p>
  <b>Link:</b>
  <%#= @kuaibovideo.link %>
</p>


<%= link_to 'Edit', edit_kuaibovideo_path(@kuaibovideo) %> |
<%= link_to 'Back', kuaibovideos_path %>
