<% title "电视直播 精彩电影网 精彩电影站" %>

<div class="live">
  <div class="livec">
    <div id="feng-yun-mini-wrap">
      <a id="loading-info" rel="nofollow" href="http://www.fengyunzhibo.com" target="_blank">正在加载【风云直播mini】播放器，请稍候...</a>                    
    </div>
    <script type="text/javascript">window.fengyunminicongf={width:960,height:530}</script>
    <script type="text/javascript" src="http://static.ws.kukuplay.com/support/mini/fyminiloader.js"></script>
  </div>

</div>